<footer class="footer">
    <div class="container footer-container">

        <div class="footer-text-link">
            <p class="footer-text" >Chocolate<span class="footer-text-white"> a delicious cure for a bad day</span> </p>
        </div>


        <div class="footer-address-menu">
            <p class="footer-address-text">Contact us</p>
            <address class="footer-address">
                <ul class="footer-address-link">
                  <li class="footer-list list">
                    <a href="tel:+380684439426" class="footer-contact" 
                      >+380 (68) 443-94-26</a>
                  </li>
                  <li class="footer-list list">
                    <a href="mailto:simplychoc@gmail.com" class="footer-contact" 
                      >simplychoc@gmail.com</a
                    >
                  </li>
                </ul>
              </address>
        </div>


        <div class="footer-cocial-menu">
            <ul class="footer-cocial-link">
                <li class="footer-cocial-list">
                    <a href="#" class="footer-icon-list">
                        <svg class="footer-icon" width="22" height="22">
                          <use href="../img/icons.svg#instagram"></use>
                        </svg>
                      </a>
                </li>
                <li class="footer-cocial-list">
                    <a href="#" class="footer-icon-list">
                        <svg class="footer-icon" width="22" height="22">
                          <use href="../img/icons.svg#twitter"></use>
                        </svg>
                      </a>
                </li>
            </ul>
        </div>

        <div class="footer-menu">
            <ul class="footer-menu-link">
                <li class="footer-menu-list">
                    <a href="#" class="footer-a">Home</a>
                </li>
                <li class="footer-menu-list">
                    <a href="#" class="footer-a">How it’s made?</a>
                </li>
                <li class="footer-menu-list">
                    <a href="#" class="footer-a">Our products</a>
                </li>
                <li class="footer-menu-list">
                    <a href="#" class="footer-a">Top sellers</a>
                </li>
                <li class="footer-menu-list">
                    <a href="#" class="footer-a">Chocolate is loved</a>
                </li>
            </ul>
        </div>



</div>
</footer>