<p class="one">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
  necessitatibus nobis ut earum? Necessitatibus exercitationem quae non
  quibusdam. Nam ratione corrupti perferendis soluta itaque repellendus, eveniet
  recusandae fuga quas nisi.
</p>
<p class="two">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eaque vero
  molestias sequi porro. Fuga at sapiente voluptatum ducimus assumenda, vel
  accusantium soluta, ea illo et necessitatibus dolorum ex hic.
</p>
