<!-- |========================| Modal window 1 |========================== */ -->

<div class="modal" data-modal="1">
  <h2 class="buynow-title"><span class="buynow-title-buy">BUY</span> NOW</h2>
  <ul class="buynow-list list">
    <li>
      <div class="buynow-chocolate">
        <picture>
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="/img/buy-now/100.jpg 1x, /img/buy-now/100@2x.jpg 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/buy-now/100.jpg 1x, /img/buy-now/100@2x.jpg 2x"
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="/img/buy-now/100-mob.jpg 1x, /img/buy-now/100-mob@2x.jpg 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/buy-now/100-mob.jpg 1x, /img/buy-now/100-mob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="card-img"
            src="/img/buy-now/100-mob.jpg"
            alt="chocolate-nuts"
            width="84"
            height="69"
            loading="lazy"
          />
        </picture>
        <button class="buynow-chocolate-btn" type="button">100 g</button>
      </div>
    </li>
    <li>
      <div class="buynow-chocolate">
        <picture>
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="/img/buy-now/200.jpg 1x, /img/buy-now/200@2x.jpg 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/buy-now/200.jpg 1x, /img/buy-now/200@2x.jpg 2x"
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="/img/buy-now/200-mob.jpg 1x, /img/buy-now/200-mob@2x.jpg 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/buy-now/200-mob.jpg 1x, /img/buy-now/200-mob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="card-img"
            src="/img/buy-now/200-mob.jpg"
            alt="chocolate-bonbon-milk"
            width="84"
            height="69"
            loading="lazy"
          />
        </picture>
        <button class="buynow-chocolate-btn" type="button">200 g</button>
      </div>
    </li>
    <li>
      <div class="buynow-chocolate">
        <picture>
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="/img/buy-now/300.jpg 1x, /img/buy-now/300@2x.jpg 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/buy-now/300.jpg 1x, /img/buy-now/300@2x.jpg 2x"
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="/img/buy-now/300-mob.jpg 1x, /img/buy-now/300-mob@2x.jpg 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/buy-now/300-mob.jpg 1x, /img/buy-now/300-mob@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="card-img"
            src="/img/buy-now/300-mob.jpg"
            alt="chocolate-bonbon-milk"
            width="84"
            height="69"
            loading="lazy"
          />
        </picture>
        <button class="buynow-chocolate-btn" type="button">300 g</button>
      </div>
    </li>
  </ul>

  <form class="buynow-form">
    <label class="buynow-label" for="personal_info">Personal information</label>
    <div class="buynow-label-personal">
      <input
        name="personal_info"
        id="personal_info"
        class="buynow-input name-input"
        type="text"
        placeholder="Name"
        pattern="\w{3,16}"
      />
      <input
        class="buynow-input"
        type="text"
        pattern="\w{3,16}"
        name="personal_info"
        placeholder="Surname"
      />
    </div>
    <label class="buynow-label" for="email">Email </label>
    <div class="buynow-label-email">
      <input
        class="buynow-input"
        type="email"
        name="email"
        id="email"
        pattern="(?=.*\d)(?=.*[a-z]).{3,}"
        placeholder="Enter your email"
      />
    </div>
    <label class="buynow-label buynow-holder-number" for="phone_number"
      >Phone number</label
    >
    <div class="buynow-label-phone">
      <input
        class="buynow-input icon-number"
        type="tel"
        id="phone_number"
        name="phone_number"
        pattern="[0-9]{3}"
        placeholder="Phone number"
      />
      <div class="input-separator">
        <svg class="buynow-svg-ua" width="24" height="24">
          <use href="/img/icons.svg#ua"></use>
        </svg>
        <p class="buynow-input-number">+380</p>
      </div>
    </div>

    <label class="buynow-label" for="card_number">Card number</label>
    <div class="buynow-label-card">
      <input
        class="buynow-input"
        id="card_number"
        type="number"
        name="card_number"
        pattern="[0-9\s]{13,19}"
        placeholder="Enter card"
      />
      <svg class="buynow-mastercard" width="32" height="21">
        <use href="/img/icons.svg#mastercard"></use>
      </svg>
    </div>
    <label class="buynow-label" for="modal_comment">Comment </label>
    <textarea
      id="modal_comment"
      class="buynow-textarea"
      name="modal_comment"
      placeholder="Enter text"
    ></textarea>
    <button class="buynow-for-btn" type="submit" value="Submit">Submit</button>
  </form>

  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
</div>

<!-- /**========================== | Modal window 3  |=========================*/ -->

<div class="modal" data-modal="3">
  <div class="explore-img"></div>

  <div class="explore-content">
    <h2 class="explore-title">
      Explore our<br />
      <span class="explore-new-chocolate">new chocolate</span> first!
    </h2>
    <form class="explore-form">
      <label class="">
        <input class="" type="email" placeholder="Enter your email" /> </label
      ><button class="explore-bnt-submit" type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
  <!-- Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross-exp js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
</div>
