<section class="our-products-section">
  <div class="container">
    <h2 class="our-products-title">OUR <span class="our-products-title-accent">PRODUCTS</span></h2>

    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/orange.jpg    1x,
                ./img/our-products/orange@2x.jpg 2x
              "
              src="./img/our-products/orange.jpg"
              alt="ORANGE"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">ORANGE</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">45 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/apple.jpg    1x,
                ./img/our-products/apple@2x.jpg 2x
              "
              src="./img/our-products/apple.jpg"
              alt="APPLE&CRANBERRY"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">APPLE&CRANBERRY</h3>
            <p class="our-products-text">Milk chocolate</p>
            <button type="button" class="our-products-button">50 UAH</button>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/lime.jpg    1x,
                ./img/our-products/lime@2x.jpg 2x
              "
              src="./img/our-products/lime.jpg"
              alt="LIME&SEA SALT"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">LIME&SEA SALT</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">66 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/pineapple.jpg    1x,
                ./img/our-products/pineapple@2x.jpg 2x
              "
              src="./img/our-products/pineaple.jpg"
              alt="PINEAPPLE"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">PINEAPPLE</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">54 UAH</button>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/classic-milk.jpg    1x,
                ./img/our-products/classic-milk@2x.jpg 2x
              "
              src="./img/our-products/classic.jpg"
              alt="CLASSIC"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">CLASSIC</h3>
            <p class="our-products-text">Milk chocolate</p>
            <button type="button" class="our-products-button">45 UAH</button>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/honey.jpg    1x,
                ./img/our-products/honey@2x.jpg 2x
              "
              src="./img/our-products/honey.jpg"
              alt="HONEY"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">HONEY</h3>
            <p class="our-products-text">Milk chocolate</p>
            <button type="button" class="our-products-button">50 UAH</button>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/roasted.jpg    1x,
                ./img/our-products/roasted@2x.jpg 2x
              "
              src="./img/our-products/roasted.jpg"
              alt="ROASTED FRUITS"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">ROASTED FRUITS</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">66 UAH</button>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/classic-white.jpg    1x,
                ./img/our-products/classic-white@2x.jpg 2x
              "
              src="./img/our-products/classic-white.jpg"
              alt="CLASSIC"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">CLASSIC</h3>
            <p class="our-products-text">White chocolate</p>
            <button type="button" class="our-products-button">54 UAH</button>
          </div>
        </li>
        
      </ul>
    
    <div class="swiper-pagination"></div>
     <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>
