<section id="products" class="our-products-section">
  <div class="container">
    <h2 class="our-products-title">
      OUR <span class="our-products-title-accent">PRODUCTS</span>
    </h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/orange.png    1x,
                ./img/our-products/orange@2x.png 2x
              "
              src="./img/our-products/orange.png"
              alt="ORANGE"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">ORANGE</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">45 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/apple.png    1x,
                ./img/our-products/apple@2x.png 2x
              "
              src="./img/our-products/apple.png"
              alt="APPLE&CRANBERRY"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">APPLE&CRANBERRY</h3>
            <p class="our-products-text">Milk chocolate</p>
            <button type="button" class="our-products-button">50 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/lime.png    1x,
                ./img/our-products/lime@2x.png 2x
              "
              src="./img/our-products/lime.png"
              alt="LIME&SEA SALT"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">LIME&SEA SALT</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">66 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/pineapple.png    1x,
                ./img/our-products/pineapple@2x.png 2x
              "
              src="./img/our-products/pineaple.png"
              alt="PINEAPPLE"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">PINEAPPLE</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">54 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/classic-milk.png    1x,
                ./img/our-products/classic-milk@2x.png 2x
              "
              src="./img/our-products/classic-milk.png"
              alt="CLASSIC"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">CLASSIC</h3>
            <p class="our-products-text">Milk chocolate</p>
            <button type="button" class="our-products-button">45 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/honey.png    1x,
                ./img/our-products/honey@2x.png 2x
              "
              src="./img/our-products/honey.png"
              alt="HONEY"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">HONEY</h3>
            <p class="our-products-text">Milk chocolate</p>
            <button type="button" class="our-products-button">50 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/roasted.png    1x,
                ./img/our-products/roasted@2x.png 2x
              "
              src="./img/our-products/roasted.png"
              alt="ROASTED FRUITS"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">ROASTED FRUITS</h3>
            <p class="our-products-text">Dark chocolate</p>
            <button type="button" class="our-products-button">66 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-products-container-taste">
            <img
              class="our-products-img"
              srcset="
                ./img/our-products/classic-white.png    1x,
                ./img/our-products/classic-white@2x.png 2x
              "
              src="./img/our-products/classic-white.png"
              alt="CLASSIC"
              width="230"
              height="201"
              loading="lazy"
            />
            <h3 class="our-products-title-taste">CLASSIC</h3>
            <p class="our-products-text">White chocolate</p>
            <button type="button" class="our-products-button">54 UAH</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
