<section class="subs-section subs-bg">
  <div class="subs-container">
    <h2 class="subs-title">exPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subs-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button type="button" class="js-open-modal subs-btn" data-modal="3">
      <span class="subs-btn-text" data-modal-open>Subscribe</span>
    </button>
  </div>
</section>
