<section id="sellers" class="topsellers">
  <div class="container">
    <h2 class="topsellers-title">
      <span class="topsellers-top">Top</span> Sellers
    </h2>
    <!-- /**
      |============================
      | Hidden block
      |============================
    */ -->
    <ul class="topsellers-list hidden-block list">
      <li class="topsellers-image">
        <picture>
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-2-mob.png    1x,
              ../img/top-sellers/top-2-mob@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-2-mob.png    1x,
              ../img/top-sellers/top-2-mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="topsellers-img"
            src="../img/top-sellers/top-2-mob.png"
            alt="nut and chocolate"
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
        <p class="topsellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="topsellers-image">
        <picture>
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-1-mob.png    1x,
              ../img/top-sellers/top-1-mob@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-1-mob.png    1x,
              ../img/top-sellers/top-1-mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="topsellers-img"
            src="../img/top-sellers/top-1-mob.png"
            alt="milk-chocolate"
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
        <button
          class="js-open-modal topsellers-btn-open"
          data-modal="1"
          type="button"
        >
          Buy now
        </button>
      </li>
    </ul>
    <ul class="topsellers-list hidden-box">
      <li class="topsellers-image">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/top-sellers/top-2-desk.png    1x,
              ../img/top-sellers/top-2-desk@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/top-sellers/top-2-desk.png    1x,
              ../img/top-sellers/top-2-desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/top-sellers/top-2-tab.png    1x,
              ../img/top-sellers/top-2-tab@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/top-sellers/top-2-tab.png    1x,
              ../img/top-sellers/top-2-tab@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-2-mob.png    1x,
              ../img/top-sellers/top-2-mob@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-2-mob.png    1x,
              ../img/top-sellers/top-2-mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="topsellers-img"
            src="../img/top-sellers/top-2-mob.png"
            alt="nut and chocolate"
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="topsellers-image">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/top-sellers/top-1-desk.png    1x,
              ../img/top-sellers/top-1-desk@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/top-sellers/top-1-desk.png    1x,
              ../img/top-sellers/top-1-desk@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/top-sellers/top-1-tab.png    1x,
              ../img/top-sellers/top-1-tab@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/top-sellers/top-1-tab.png    1x,
              ../img/top-sellers/top-1-tab@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-1-mob.png    1x,
              ../img/top-sellers/top-1-mob@2x.png 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/top-sellers/top-1-mob.png    1x,
              ../img/top-sellers/top-1-mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="topsellers-img"
            src="../img/top-sellers/top-1-desk.png"
            alt="milk-chocolate"
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
      <!-- /**
            |============================
            | Hidden three img
            |============================
          */ -->
      <li class="topsellers-hidden-img">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/top-sellers/top-three-desk.png 1x,
              ../img/top-sellers/top-3-desk@2x.png  2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/top-sellers/top-three-desk.png 1x,
              ../img/top-sellers/top-3-desk@2x.png  2x
            "
            type="image/png"
          />
          <img
            class="topsellers-img"
            src="../img/top-sellers/top-three-desk.png"
            alt="dark chocolate"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <div class="topsellers-bottom-block">
      <p class="topsellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        class="js-open-modal topsellers-btn-open"
        data-modal="1"
        type="button"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
