.footer {
  background: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer-box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    margin-bottom: 24px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-box {
    padding-bottom: 58px;
  }
}
.footer-cocial-menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer-cocial-menu {
    width: 280px;
  }
}
.footer-text-link {
  width: 300px;
  margin-bottom: 78px;
}
.footer-text {
  width: 300px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #fd9222;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer-text {
    margin-right: auto;
    margin-bottom: 0;
  }
}
.footer-cocial-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text-white {
  color: #ffffff;
}
.footer-address-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  transition: color var(--duration-and-timing-function);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--orange-color);
}
.footer-menu-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  .footer-menu-item {
    flex-direction: row;
  }
}
.footer-list:not(:last-child) {
  margin-bottom: 4px;
}
.footer-icon {
  stroke: #ffffff;
  transition: stroke var(--duration-and-timing-function);
}
.footer-cocial-link {
  display: flex;
  gap: 14px;
}
.footer-icon-link:hover .footer-icon,
.footer-icon-link:focus .footer-icon {
  stroke: var(--orange-color);
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;

  transition: color var(--duration-and-timing-function);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--orange-color);
}
@media screen and (min-width: 768px) {
  .footer-cocial-menu {
    margin-left: auto;
  }
  .footer-icon {
    width: 24px;
    height: 24px;
  }
}
