/* Section how-it's-made */

.how-made {
  padding-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .how-made {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .how-made {
    padding-bottom: 128px;
  }
}
.how-made-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .how-made-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}

.how-made-title-accent {
  color: var(--orange-color);
}

.how-made-wrap {
}

@media only screen and (min-width: 1200px) {
  .how-made-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}

.how-made-img-wrap {
  position: relative;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .how-made-img-wrap {
    margin-bottom: 0;
  }
}

.how-made-img {
  display: block;
}

.how-made-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 35px;
  height: 35px;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .how-made-btn {
    width: 44px;
    height: 44px;
  }
}

.how-made-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-34%) translateY(-50%);
  fill: #ffffff;
}

@media only screen and (max-width: 767.9px) {
  .how-made-icon.big {
    display: none;
  }
}

.how-made-descr-wrap {
  padding: 20px 14px;
  background-color: #fff;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .how-made-descr-wrap {
    padding: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .how-made-descr-wrap {
    flex-basis: 516px;
  }
}

.how-made-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .how-made-subtitle {
    margin-bottom: 28px;
    max-width: 350px;
  }
}

.how-made-list {
  padding-left: 16px;
}

@media only screen and (min-width: 768px) {
  .how-made-list {
    max-width: 480px;
  }
}

@media only screen and (min-width: 1200px) {
  .how-made-list {
    max-width: 426px;
  }
}

.how-made-item {
  position: relative;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black);
}

.how-made-item:not(:last-child) {
  margin-bottom: 18px;
}

@media only screen and (min-width: 1200px) {
  .how-made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.how-made-item::before {
  content: '';

  position: absolute;
  top: 5px;
  left: -16px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background: #4c4c4c;
  border: 1px solid #eceded;
}
