/**
  |============================
  | Modal BUY NOW
  |============================
*/
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.modal {
  padding: 32px 24px;
  opacity: 0;
  visibility: hidden;

  width: 95%;
  max-width: 311px;
  height: 95%;
  max-height: 584px;
  overflow: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: var(--bg-color);

  transition: var(--duration-and-timing-function);
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 48px;
    max-width: 609px;
    max-height: 1058px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.buynow-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.buynow-title-buy {
  color: var(--orange-color);
}

.modal__cross {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--black-firs-color);
  cursor: pointer;
}

.buynow-chocolate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 263px;
  height: 85px;
  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .buynow-chocolate {
    padding: 24px 20px 18px;
  }
}

@media only screen and (min-width: 768px) {
  .buynow-chocolate {
    flex-direction: column;
    width: 160px;
    height: 196px;
  }
}

@media only screen and (min-width: 768px) {
  .card-img {
    width: 120px;
    height: 107px;
  }
}

.buynow-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .buynow-list {
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 40px;
  }
}

.buynow-chocolate-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  width: 70px;
  height: 29px;
  background: var(--bg-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  transform: border-color var(--duration-and-timing-function);
}

.buynow-chocolate-btn:hover,
.buynow-chocolate-btn:focus {
  border-color: var(--orange-color);
}

@media only screen and (min-width: 768px) {
  .buynow-chocolate-btn {
    width: 96px;
    height: 33px;
  }
}

.buynow-form {
  display: flex;
  flex-direction: column;
}

/**
  |============================
  | Inputs
  |============================
*/

.buynow-label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

@media only screen and (min-width: 768px) {
  .buynow-label {
    font-size: 14px;
    line-height: 1.29;
  }
}

.buynow-label-personal {
  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .buynow-label-personal {
    display: flex;
    gap: 21px;
  }
}

.buynow-label-email {
  margin-bottom: 18px;
}

.byunow-label-name {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.name-input {
  margin-bottom: 14px;
}

.buynow-label-phone {
  position: relative;
  margin-bottom: 18px;
}

.buynow-label-card {
  position: relative;
  margin-bottom: 18px;
}

.buynow-input {
  position: relative;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  outline: none;
  background-color: var(--bg-color);
  transition: border-color var(--duration-and-timing-function);
}

@media only screen and (min-width: 768px) {
  .buynow-input {
    height: 66px;
  }
}

.buynow-input:focus {
  border-color: var(--orange-color);
}

.buynow-input::placeholder {
  padding-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(64, 64, 64, 0.3);
}

.icon-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 100px;
}

@media only screen and (min-width: 768px) {
  .icon-number {
    padding-left: 171px;
  }
}

.icon-number::placeholder {
  padding-left: 6px;
}

.input-separator {
  border-right: 2px solid rgba(17, 17, 17, 0.05);
  width: 74px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 18px;
  top: 10px;
}

@media only screen and (min-width: 768px) {
  .input-separator {
    width: 125px;
    height: 32px;
    left: 24px;
    top: 17px;
    gap: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .buynow-svg-ua {
    width: 32px;
  }
}

.buynow-input-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  /* display: block; */
}

@media only screen and (min-width: 768px) {
  .buynow-input-number {
    font-size: 18px;
  }
}

.buynow-mastercard {
  position: absolute;
  top: 12px;
  right: 14px;
}

@media only screen and (min-width: 768px) {
  .buynow-mastercard {
    width: 44px;
    height: 30px;
    right: 24px;
    top: 18px;
    bottom: 18px;
  }
}

/**
  |============================
  | Textarea
  |============================
*/

.buynow-textarea {
  width: 100%;
  height: 91px;
  margin-bottom: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: var(--bg-color);
  resize: none;
  outline: none;
  outline: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  padding-left: 7px;
  padding-top: 7px;
  transition: border-color var(--duration-and-timing-function);
}

@media only screen and (min-width: 768px) {
  .buynow-textarea {
    height: 137px;
  }
}

.buynow-textarea:focus {
  border-color: var(--orange-color);
}

.buynow-textarea::placeholder {
  padding-left: 11px;
  padding-top: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(64, 64, 64, 0.3);
}

.buynow-for-btn {
  display: block;
  width: 120px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
  background: var(--orange-color);
  border-radius: 100px;
  border: none;
  transition: background-color var(--duration-and-timing-function),
    color var(--duration-and-timing-function);
}

.buynow-for-btn:hover,
.buynow-for-btn:hover {
  background: var(--hover-btn-color);
  color: var(--orange-color);
}

@media only screen and (min-width: 768px) {
  .buynow-for-btn {
    width: 133px;
    height: 45px;
  }
}

.modal__cross-buynow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  fill: var(--black-firs-color);
  cursor: pointer;
  border-radius: 100%;
}

@media only screen and (min-width: 768px) {
  .modal__cross-buynow {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.modal__cross-buynow:hover,
.modal__cross-buynow:focus {
  transition: fill var(--duration-and-timing-function),
    background-color var(--duration-and-timing-function);
  fill: var(--orange-color);
  background-color: var(--hover-btn-color);
}

.buynow-cross-close {
  width: 12px;
  height: 12px;
}

@media only screen and (min-width: 768px) {
  .buynow-cross-close {
    width: 14px;
    height: 14px;
  }
}

/**
  |============================
  | Modal window 3
  |============================
*/

/* Стили для модальных окон */

.modal[data-modal='3'] {
  opacity: 0;
  visibility: hidden;
  width: 311px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  padding: 0;
  border-radius: 15px;
  background-color: var(--bg-color);
}

@media only screen and (min-width: 768px) {
  .modal[data-modal='3'] {
    width: 538px;
    height: 412px;
  }
}

/* Стили для активных классов подложки и окна */

.modal[data-modal='3'].active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.explore-img {
  border: none;
  outline: none;
  width: 100%;
  height: 169px;
  background-image: url(../img/Explore-our-new/unsplash1mob.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .explore-img {
    background-image: url(../img/Explore-our-new/unsplash1mob@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .explore-img {
    background-image: url(../img/Explore-our-new/unsplash1tab.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .explore-img {
      background-image: url(../img/Explore-our-new/unsplas1tab@2x.png);
    }
  }
}

@media only screen and (min-width: 768px) {
  .explore-img {
    width: 538px;
    height: 196px;
  }
}

.explore-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .explore-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }
}

.explore-new-chocolate {
  color: var(--orange-color);
}

.explore-form {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .explore-form {
    display: flex;
    gap: 8px;
  }
}

.explore-content {
  padding: 32px 24px;
}

@media only screen and (min-width: 768px) {
  .explore-content {
    padding: 40px;
  }
}

.explore-input {
  padding-left: 15px;
  background-color: var(--bg-color);
  width: 100%;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  outline: none;
}

.explore-input:focus {
  border-color: var(--orange-color);
}

.explore-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 3px;
}

@media only screen and (min-width: 768px) {
  .explore-input {
    width: 313px;
    height: 52px;
  }
}

.explore-bnt-submit {
  left: 163px;
  top: 0px;
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  width: 100px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--orange-color);
  transition: color var(--duration-and-timing-function),
    background-color var(--duration-and-timing-function);
}

.explore-bnt-submit:hover,
.explore-bnt-submit:focus {
  color: var(--orange-color);
  background-color: var(--hover-btn-color);
}

@media only screen and (min-width: 768px) {
  .explore-bnt-submit {
    width: 137px;
    height: 52px;
    position: static;
  }
}

/* Стили для кнопки закрытия */

.modal__cross-exp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 15px;
  right: 14px;
  fill: var(--white-color);
  cursor: pointer;
  border-radius: 100%;
}

@media only screen and (min-width: 768px) {
  .modal__cross-exp {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.modal__cross-exp:hover,
.modal__cross-exp:focus {
  transition: fill var(--duration-and-timing-function),
    background-color var(--duration-and-timing-function);
  fill: var(--orange-color);
  background-color: var(--hover-btn-color);
}

.modal-cross-close {
  width: 12px;
  height: 12px;
}

@media only screen and (min-width: 768px) {
  .modal-cross-close {
    width: 14px;
    height: 14px;
  }
}
