/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-it’s-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
@import url('./modal.css');
@import url('./slider.css');

:root {
  /* color */
  --black-firs-color: #111111;
  --black-second-color: #1e1823;
  --orange-color: #fd9222;
  --hover-btn-color: #fcf1e0;
  --white-color: #ffffff;
  --bg-color: #fafafa;

  /* animation */
  --duration-and-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
