.subs-section {
  padding-top: 62px;
  padding-bottom: 62px;
}
@media only screen and (min-width: 768px) {
  .subs-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.subs-text {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 24px;
}
@media only screen and (min-width: 375px) {
  .subs-text {
    width: 326px;
  }
}
@media only screen and (min-width: 768px) {
  .subs-text {
    width: 467px;
  }
}
.subs-title {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media only screen and (min-width: 375px) {
  .subs-title {
    width: 291px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .subs-title {
    width: 378px;
    height: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1200px) {
  .subs-title {
    width: 378px;
    height: 56px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}
.subs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 41px;
  background: #fd9222;
  border-radius: 100px;
  border: none;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .subs-btn {
    width: 172px;
    height: 50px;
  }
}
.subs-btn-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .subs-btn-text {
    font-size: 18px;
    line-height: 1.22;
  }
}
.subs-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  perspective: 500px;
  background-image: url(/img/subscribe/subcribe-mob.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subs-bg {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe/subcribe-mob@2x.jpg);
  }
}
@media screen and (min-width: 376px) {
  .subs-bg {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe/subcribe-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subs-bg {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(/img/subscribe/subcribe-tab@2x.jpg);
    }
  }
}
@media screen and (min-width: 769px) {
  .subs-bg {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(/img/subscribe/subcribe-desc.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subs-bg {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(/img/subscribe/subcribe-desc@2x.jpg);
    }
  }
}
