.topsellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .topsellers-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}

@media only screen and (min-width: 1200px) {
  .topsellers-title {
    text-shadow: none;
  }
}

.topsellers-top {
  color: var(--orange-color);
}

@media only screen and (min-width: 768px) {
  .topsellers-list {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.topsellers-img {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .topsellers-img {
    margin-bottom: 0;
    width: 344px;
  }
}

@media only screen and (min-width: 1200px) {
  .topsellers-img {
    width: 368px;
  }
}
/**
  |============================
  | Hidden block
  |============================
*/
@media only screen and (min-width: 768px) {
  .hidden-block {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .hidden-box {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .topsellers-bottom-block {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .topsellers-bottom-block {
    display: flex;
    /* align-items: flex-start; */
  }
}

.topsellers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--black-firs-color);
  margin-bottom: 32px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .topsellers-text {
    width: 306px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .topsellers-text {
    width: 407px;
  }
}

.topsellers-btn-open {
  display: block;
  width: 120px;
  height: 41px;
  color: var(--white-color);

  background: var(--orange-color);
  border-radius: 100px;

  margin-left: auto;
  margin-right: auto;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  transition: background-color var(--duration-and-timing-function);
}

@media only screen and (min-width: 768px) {
  .topsellers-btn-open {
    width: 162px;
    height: 50px;
    margin-right: 0;
    font-size: 18px;
  }
}

.topsellers-btn-open:hover {
  background: var(--hover-btn-color);
  color: var(--orange-color);
}

/**
  |============================
  | Hidden three img
  |============================
*/
@media only screen and (max-width: 1199px) {
  .topsellers-hidden-img {
    display: none;
  }
}
